<!DOCTYPE html>
<html>

<head>
  <title>My First BootStrap</title>
  <meta charset="utf-8">
  <meta name="viewPort" content="width=device-width,initial-scale=1">
  <!--Local StyleSheet-->
  <link rel="stylesheet" href="../lib/css/jquery.selectBoxIt.css">
  <link rel="stylesheet" href="../assests/css/style.css">
  <link rel="stylesheet" href="../lib/css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../lib/css/font-awesome.css">
  <link rel="stylesheet" href="../lib/css/jquery-ui.css">
  <link rel="stylesheet" href="../lib/css/tagsort.css">
  <link rel="stylesheet" href="../lib/fonts/Play-Regular.ttf">
  <link rel="stylesheet" href="../lib/fonts/Play-Bold.ttf">
  <link rel="stylesheet" href="../lib/fonts/JosefinSlab-Bold.ttf">
  <link rel="stylesheet" href="../lib/fonts/Oxygen-Bold.ttf">
  <link rel="stylesheet" href="../lib/fonts/Oxygen-Regular.ttf">
  <link rel="stylesheet" href="../lib/fonts/Oxygen-Light.ttf">

  <!--CDN -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">

  <!-- Local Scripts-->
  <script src="../lib/js/jquery.selectBoxIt.min.js"></script>
  <script src="../lib/js/selectboxit.js"></script>
  <script src="../assests/js/basics.js"></script>
  <script src="../lib/js/jquery-2.2.1.js"></script>
  <script src="../lib/js/tagsort.js"></script>
  <script src="../lib/js/jquery-ui.js"></script>

  <!-- CDN-->
  <script src="https://code.jquery.com/jquery-2.2.1.js" integrity="sha256-eNcUzO3jsv0XlJLveFEkbB8bA7/CroNpNVk3XpmnwHc="
          crossorigin="anonymous"></script>
  <script src="http://gregfranko.com/jquery.selectBoxIt.js/js/jquery.selectBoxIt.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>


</head>

<body>
<!-- NavBar   -->
<nav class="navbar navbar-default navBar">
  <div class="container-fluid navPadding">

    <ul class="list-inline m-b-0">
      <li><i class="fa fa-home home" aria-hidden="true"></i></li>
      <li class="navEle"><a href="#section1" class="navEle">About Us</a></li>
      <li class="navEle"><a href="#section2" class="navEle">Clients</a></li>
      <li class="navEle"><a href="#section3" class="navEle">Services</a></li>
      <li class="navEle"><a href="#section4" class="navEle">Contact Us</a></li>

      <li class="pull-right">
        <form id="signin" class="navbar-form navbar-right" role="form">
          <div class="input-group"><span class="input-group-addon"><i
              class="glyphicon glyphicon-user icon"></i></span>
            <input id="email" type="email" class="form-control" name="email" value="" placeholder="Email Address">
          </div>
          <div class="input-group"><span class="input-group-addon"><i
              class="glyphicon glyphicon-lock icon"></i></span>
            <input id="password" type="password" class="form-control" name="password" value="" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </li>
    </ul>

  </div>
</nav>

<!--Fluid Container Section1-->
<div id="section1" class="container-fluid">
  <h1>Section 1</h1>

  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at
    the navigation bar while scrolling!</p>

  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at
    the navigation bar while scrolling!</p>
</div>
<!--Fluid Container Section2-->

<div id="section2" class="container-fluid padding-35">
  <div class="row">
    <div class="col-md-2">
      <ul class="list-inline m-b-0">
        <li class="tabEle">
          <button id="tsk1">Task1</button>
        </li>
        <li class="tabEle">Task 2</li>
        <li class="tabEle">Task 3</li>
        <li class="tabEle">Task 4</li>
        <li class="tabEle">Task 5</li>
      </ul>
    </div>

    <div class="col-md-8">
      <div id="tskDiv">


        <!--<h1>Enter Data</h1>

        <div class="row">
          <div class="col-md-6 col-sm-6 pull-left">
            <ul class="p-l-0">
              <li><label>Brand Name</label></li>
              <li><input type="text" id="brandName" class="form-control" placeholder="Brand Name"></li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-6 pull-right">
            <ul class="p-l-0">
              <li><label>Product Name</label></li>
              <li><input type="text" id="productName" class="form-control" placeholder="Product Name"></li>
            </ul>
          </div>
        </div>
        <div class="row m-t-25">
          <div class="col-md-4 col-sm-4">
            <ul class="p-l-0">
              <li><label>Product Type</label></li>
              <li><select id="typeOfPrd">
                <option value="selectOne">Select One</option>
                <option value="Type1">Type1</option>
                <option value="Type2">Type2</option>
                <option value="Type3">Type3</option>
                <option value="Type4">Type4</option>
              </select></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-4">
            <ul class="p-l-0">
              <li><label>Quantity</label></li>
              <li><input type="number" id="quantity" class="form-control" placeholder="Quantity"></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-4">
            <ul class="p-l-0">
              <li><label>Price</label></li>
              <li><input type="number" id="price" class="form-control" placeholder="Price"></li>
            </ul>
          </div>
        </div>
        <div class="row m-t-25">
          <div class="col-md-6 col-sm-6 ">
            <ul class="p-l-0">
              <li><label>UID</label></li>
              <li><input type="number" id="uID" class="form-control" placeholder="Unique Id"></li>
              <li><span class="error-msg" id="uidErrMsg">UID already Exit </span></li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-6 pull-right ">
            <ul class="p-l-0">
              <li><label>Description</label></li>
              <li><textarea id="description" class="textarea-class"></textarea></li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="row m-t-25">
          <div class="col-md-4 col-sm-4"></div>
          <div class="col-md-4 col-sm-4">
            <button class="btn btn-primary center-block" id="entrData">Enter
              Data
            </button>
          </div>
          <div class="col-md-4 col-sm-4"></div>
        </div>
-->

      </div>
    </div>

    <div class="col-md-2"></div>
  </div>

</div>
<!--Fluid Container Section3-->
<div id="section3" class="container-fluid padding-35">

</div>
<!--Fluid Container Section4-->
<div id="section4" class="container-fluid">

</div>

<!--modal displaying Products Entered-->
<div class="modal fade" id="productsModal" role="dialog">
  <div class="modal-dialog modal-lg">

    <!--modal content-->
    <div class="modal-content prdMdlWdth">
      <div class="modal-header">
        <h2>Products Entered</h2>
      </div>
      <div class="modal-body">
        <div class="table-responsive padding-35 ">
          <ul class="p-l-0">
            <li><label>Recent Data</label></li>
            <li>
              <table class="table" id="productsTbl">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Brand</th>
                  <th>Product</th>
                  <th>Type</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>UID</th>
                  <th>Description</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer"></div>
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 m-b-20 ">
          <button class="btn btn-default center-block" data-dismiss="modal">Done</button>
        </div>
        <div class="col-sm-4"></div>
      </div>

    </div>
  </div>

</div>

</body>

<script>
  var uIDArray = [];
  var cnt=0;
  $(document).ready(function () {
    $('#uidErrMsg').hide();
    var heightOfDom = $(document).innerHeight();
    $('#section1,#section2,#section3,#section4,#section4').css('height', heightOfDom);
    $("nav").focus();

    //$('select#typeOfPrd').selectBoxIt();
    //AutoComplete
    var availableBrands = ["ActionScript", "AppleScript", "Asp", "BASIC", "C", "C++", "Clojure", "COBOL", "ColdFusion",
      "Erlang", "Fortran", "Groovy", "Haskell", "Java", "JavaScript", "Lisp", "Perl", "PHP", "Python", "Ruby", "Scala",
      "Scheme"];
    $("#brandName").autocomplete({
      source: availableBrands
    });
    var availableProducts = ["ActionScript", "AppleScript", "Asp", "BASIC", "C", "C++", "Clojure", "COBOL", "ColdFusion",
      "Erlang", "Fortran", "Groovy", "Haskell", "Java", "JavaScript", "Lisp", "Perl", "PHP", "Python", "Ruby", "Scala",
      "Scheme"];
    $("#productName").autocomplete({
      source: availableProducts
    });

  });

  $(document).on('keyup', '#uID', function () {
    var valOfUid = $('#uID').val();
    if ($.inArray(valOfUid, uIDArray) > -1) {
    }
    else {
      $('#brandName,#productName,#typeOfPrd,#quantity,#price,#uID,#description').removeClass('border-rcc');
      $('#uidErrMsg').hide();

    }

  });

  $(document).on('click','#tsk1',function(){
    console.log('In function');
    cnt++;
    if(cnt==1){
      $('#tskDiv').append(returnEntrDtaTemplate());
      $('#uidErrMsg').hide();
    }
  })

  var productObj = {};
  $(document).on('click', "#entrData", function () {
    var bname = $('#brandName').val();
    var pname = $('#productName').val();
    var ptype = $('#typeOfPrd').val();
    var pqnty = $('#quantity').val();
    var pprice = $('#price').val();
    var uid = $('#uID').val();
    var pdesc = $('#description').val();
    var len = $('#productsTbl tr').length;
    productObj.bName = bname;
    productObj.pName = pname;
    productObj.pType = ptype;
    productObj.pQnty = pqnty;
    productObj.pPrice = pprice;
    productObj.pDesc = pdesc;
    console.log('uid:::', uid);
    var prevUID = $("#productsTbl tr:last").find('.prdUid').val();
    console.log('prevuid:::', prevUID);
    console.log('uid array: ' + uIDArray);
    if ($.inArray(uid, uIDArray) > -1) {
      $('#brandName,#productName,#typeOfPrd,#quantity,#price,#uID,#description').addClass('border-rcc');
      $('#uidErrMsg').show();

    } else {
      uIDArray.push(uid);
      $('#productsTbl tbody').append(returnTrTemplate(len, bname, pname, ptype, pqnty, pprice, uid, pdesc));
      $("#productsModal").modal()
    }
    console.log(JSON.stringify(productObj));

  });
  function returnTrTemplate(len, val1, val2, val3, val4, val5, uid, val6) {

    var template = '<tr>' +
        '            <td><input type="text" class="prdCnt pull-left" readonly value= "' + len + ' " ></td>' +
        '            <td><input type="text" class="brndNm pull-left" readonly value= "' + val1 + ' " ></td>' +
        '            <td><input type="text" class="prdNm pull-left" readonly value= "' + val2 + ' " ></td>' +
        '            <td><input type="text" class="prdTyp pull-left" readonly value="' + val3 + ' " ></td>' +
        '            <td><input type="text" class="prdQnty pull-left" readonly value="' + val4 + ' " ></td>' +
        '            <td><input type="text" class="prdPrc pull-left" readonly value="' + val5 + ' " ></td>' +
        '            <td><input type="text" class="prdUid pull-left" readonly value="' + uid + ' " ></td>' +
        '            <td><input type="text" class="prdDesc pull-left" readonly value="' + val6 + ' " ></td>' +
        '          </tr>';

    return template;
  }

  function returnEntrDtaTemplate() {
    var template = '<h1>Enter Data</h1>' +
        '      <div class="row">' +
        '        <div class="col-md-6 col-sm-6 pull-left">' +
        '          <ul class="p-l-0">' +
        '            <li><label>Brand Name</label></li>' +
        '            <li><input type="text" id="brandName" class="form-control" placeholder="Brand Name"></li>' +
        '          </ul>' +
        '        </div>' +
        '        <div class="col-md-6 col-sm-6 pull-right">' +
        '          <ul class="p-l-0">' +
        '            <li><label>Product Name</label></li>' +
        '            <li><input type="text" id="productName" class="form-control" placeholder="Product Name"></li>' +
        '          </ul>' +
        '        </div>' +
        '      </div>' +
        '      <div class="row m-t-25">' +
        '        <div class="col-md-4 col-sm-4">' +
        '          <ul class="p-l-0">' +
        '            <li><label>Product Type</label></li>' +
        '            <li><select id="typeOfPrd">' +
        '              <option value="selectOne">Select One</option>' +
        '              <option value="Type1">Type1</option>' +
        '              <option value="Type2">Type2</option>' +
        '              <option value="Type3">Type3</option>' +
        '              <option value="Type4">Type4</option>' +
        '            </select></li>' +
        '          </ul>' +
        '        </div>' +
        '        <div class="col-md-4 col-sm-4">' +
        '          <ul class="p-l-0">' +
        '            <li><label>Quantity</label></li>' +
        '            <li><input type="number" id="quantity" class="form-control" placeholder="Quantity"></li>' +
        '          </ul>' +
        '        </div>' +
        '        <div class="col-md-4 col-sm-4">' +
        '          <ul class="p-l-0">' +
        '            <li><label>Price</label></li>' +
        '            <li><input type="number" id="price" class="form-control" placeholder="Price"></li>' +
        '          </ul>' +
        '        </div>' +
        '      </div>' +
        '      <div class="row m-t-25">' +
        '        <div class="col-md-6 col-sm-6 ">' +
        '          <ul class="p-l-0">' +
        '            <li><label>UID</label></li>' +
        '            <li><input type="number" id="uID" class="form-control" placeholder="Unique Id"></li>' +
        '            <li><span class="error-msg" id="uidErrMsg">UID already Exit </span></li>' +
        '          </ul>' +
        '        </div>' +
        '        <div class="col-md-6 col-sm-6 pull-right ">' +
        '          <ul class="p-l-0">' +
        '            <li><label>Description</label></li>' +
        '            <li><textarea id="description" class="textarea-class">' +
        '</textarea></li>'+
    '</ul>'+
    '</div>'+
    '</div>'+
    '<hr>'+
    '<div class="row m-t-25">'+
    '<div class="col-md-4 col-sm-4"></div>'+
    '<div class="col-md-4 col-sm-4">'+
    '<button class="btn btn-primary center-block" id="entrData">Enter Data</button>'+
    '</div>'+
    '<div class="col-md-4 col-sm-4"></div>'+
    '</div>';

    return template;
  }
</script>

</html>
