<!DOCTYPE html>
<html>

<head>
  <title>My First BootStrap</title>
  <meta charset="utf-8">
  <meta name="viewPort" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="../lib/css/style.css">
  <script src="script.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
<!-- NavBar   -->
<nav class="navbar navbar-default navBar">
  <div class="container-fluid navPadding">
    <div class="">
      <ul class="list-inline m-b-0">
        <li><i class="fa fa-home home" aria-hidden="true"></i></li>
        <li class="navEle"><a href="#section1" class="navEle">About Us</a></li>
        <li class="navEle"><a href="#section2" class="navEle">Clients</a> </li>
        <li class="navEle"><a href="#section3" class="navEle">Services</a> </li>
        <li class="navEle"><a href="#section4" class="navEle">Contact Us</a> </li>

        <li class="pull-right">
        <form id="signin" class="navbar-form navbar-right" role="form">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-user icon"></i></span>
            <input id="email" type="email" class="form-control" name="email" value="" placeholder="Email Address"> </div>
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-lock icon"></i></span>
            <input id="password" type="password" class="form-control" name="password" value="" placeholder="Password"> </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--Fluid Container Section1-->
<div id="section1" class="container-fluid">
  <h1>Section 1</h1>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>
<!--Fluid Container Section2-->
<div id="section2" class="container-fluid">
  <h1>Section 2</h1>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>
<!--Fluid Container Section3-->
<div id="section3" class="container-fluid">
  <h1>Section 3</h1>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>
<!--Fluid Container Section4-->
<div id="section4" class="container-fluid">
  <h1>Section 4 Submenu 1</h1>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>




</body>

</html>