<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="device-width,initial-scale=1">
  <title></title>

  <link rel="stylesheet" href="../lib/css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../assests/css/newStyle.css">
  <link rel="stylesheet" href="../lib/css/jquery-ui.css">
  <link rel="stylesheet" href="../lib/fonts/Play-Regular.ttf">
  <link rel="stylesheet" href="../lib/fonts/Play-Bold.ttf">
  <link rel="stylesheet" href="../lib/fonts/JosefinSlab-Bold.ttf">
  <!--CDN -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
  <!-- Local Scripts-->
  <script src="../assests/js/basics.js"></script>
  <script src="../lib/js/jquery-2.2.1.js"></script>
  <script src="../lib/js/jquery-ui.js"></script>

  <!-- CDN-->
  <script src="https://code.jquery.com/jquery-2.2.1.js" integrity="sha256-eNcUzO3jsv0XlJLveFEkbB8bA7/CroNpNVk3XpmnwHc="
          crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
</head>
<body>

<div class="container-fluid ">
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1  s1 "></div>
    <div class="col-lg-2 col-md-2 col-sm-2  s2">
      <nav>
        <div class="profileInfo">
          <div class="profilePic">
            <!--<img src="../assests/images/recent-images-11.jpg" alt="profilePic">-->
          </div>
        </div>
        <div class="profileDesc">
          <h2>Portfolio</h2>
          <h4>This is my Portfolio</h4>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation"><a href="#">Home</a></li>
          <li role="presentation"><a href="#">Profile</a></li>
          <li role="presentation"><a href="#">Messages</a></li>
        </ul>
      </nav>
      <div class="m-t-15">
        <ul class="list-inline">
          <li><a><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
          <li><a><i class="fa fa-whatsapp" aria-hidden="true"></i> </a></li>
          <li><a><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li><a><i class="fa fa-github" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8  s3">
      <div class="row padding-left-15">
        <h1>My Portfolio</h1>
        <div class="btnHdlr">
          <h4>Filters::</h4>
        <button type="button" class=" btnStyle">All</button>
        <button type="button" class=" btnStyle">Design</button>
        <button type="button" class=" btnStyle">Photo</button>
        <button type="button" class=" btnStyle">Art</button>

        </div>
      </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1   s4"></div>


  </div>
</div>


</body>
</html>
