/*elements*/
body {
  font-family: 'Play', 'Oxygen', sans-serif;
}

a {
  text-decoration: none;

}

ul {
  list-style-type: none;
}

h2,h3,h4 {
  color: #337ab7 !important;
}

/*classes*/
.m-t-15{
  margin-top: 15px;
}
.padding-left-15{
  padding-left: 15px;
}
.fa  {
  font-size: 23px !important;
  color: #337ab7;
}
.fa:hover{
  font-size: 23px !important;
  color: #21415c;
}
.btnStyle {
  color: #fff !important;
  background-color: #21415c !important;
  border: 0 !important;
  border-radius: 0 !important;
  }
.btnStyle:hover,:focus {
  color: #21415c !important;
  background-color:#fff  !important;
  border: 0 !important;
  border-radius: 0 !important;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.s1, .s4 {
  height: 950px;
  background-color: #F7FBFC;
}

.s2 {
  height: 950px;
  background-color: #B9D7EA;
}

.s3 {
  height: 950px;
  background-color: #769FCD;
}

.padding-35 {
  padding: 35px !important;
}

.nav-padding {
  padding: 10px 30px 10px 30px;
  background-color: #fff;
  color: #9d9d9d;
}

.nav-padding:hover {
  padding: 10px 30px 10px 30px;
  background-color: #9d9d9d;
  color: #fff;
}
.profileInfo{
  padding: 50px 10px 40px 10px;

}
.profilePic {
  min-height: 150px;
  min-width: 150px;
  background-image: url("../images/recent-images-11.jpg");
  background-repeat: no-repeat;
}
.profileDesc{
  margin:10px 0 30px 0;
}


/*Media Query*/
@media (max-width: 768px ) {
  .s1, .s4 {
    height: 0;
  }

  .s2 {
 height:450px;
  }
}
