

/* Elements*/
.topnav a {
  padding: 10px 15px 9px 15px !important;
  display: inline-block;
}

a {
  text-decoration: none!important ;
}

ul
{
  list-style-type: none;
}

h1{
  font-family: 'Josefin Slab', serif;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 2px solid #eee !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.wrapper input[type="text"] {
  position: relative;
}

/*ID's & Classes*/
#section1,#section2,#section4,#section4{
  min-height:768px;
}
#section3{
  height: auto;
}
#section1{background-color: #85A6B1;}
#section2{background-color: #DAEBEE;}
#section3{background-color: #8BD7D1;}
#section4{background-color: #CAEDDE;}

/*General Usage*/
.m-b-0{
  margin-bottom: 0!important;
}
.m-b-20{
  margin-bottom: 20px !important;
}
.m-t-25{
  margin-top: 25px;
}
.padding-35{
  padding: 35px !important;
}
.p-l-0{
  padding-left: 0;
}
.icon{
  color: #364F6B !important;
  }
.home{
  color: rgb(214, 239, 255);
  font-size: 30px !important;
}
.home:hover{
  color: #fff;
  font-size: 30px !important;

}
.navPadding{
  padding: 10px 15px 10px 15px ;
}
.navBar{
  background-color: #364F6B !important;
}
.navbar{
  margin-bottom: 0!important;
}
.navEle{
  margin-top: 8px;
  text-align: center;
  color: rgb(214, 239, 255);
  padding: 0 24px;
  text-transform: uppercase;
  /*font-family: 'Lobster', cursive;*/
  font-size: 15px;
  /*font-weight: 700;*/
}
.navEle:hover{
  margin-top: 8px;
  color: #F7FBFC;
}
.button{
  border-color: #08C;
  color:#fff;
}
.list-inline>li{
  display: inline-flex !important;
}

.input-class{
  height: 40px;
  width: 100%;
  border-radius: 4px;
  border: 1px #ccc;
}
.textarea-class{
  width: 100%;
  height: 150px;
}
.prdCnt,.prdQnty{
  width: 40px;
  border: 0;
}
.brndNm,.prdNm,.prdTyp,.prdPrc,.prdUid{
  width: 120px;
  border:0;
}
.prdDesc{
  width: 200px;
  border: 0;
}
.prdMdlWdth{
  width: 110%;
}
.error-msg{
  color: #bb1521;
  font-size: 12px;
}
.border-rcc{
  border: 1px solid #bb1521;
}
.tabEle{
  width: 90%;
  height: 55px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #fff;
  text-align: center;
  padding-top: 15px;
  cursor: pointer;
}
 /*tagSort Items*/
body {
  background-color: #FFF;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
  "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.container {
  width: 80%;
  margin: 0 auto;
}

h1 > small a {
  color: #AAA;
  text-decoration: none;
  font-size: 70%;
  margin-left: 10px;
}

h1 > small a:hover {
  color: #000;
}
.item {
  box-sizing: border-box;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 20%;
  margin-bottom: 40px;
  height: 360px;
  max-height: 360px;
  overflow: hidden;

}

.item .wrapper {
  background-color: #f4f4f4;
  padding: 8px;
  height: 50%;
}

.item .wrapper img {
  width: 50%;
}

.item .wrapper .item-tags {
  color: #AAA;
  font-size: 12px;
  line-height: 1.8;
}

.tagsort-tags-container {
  margin: 40px 0;
}
.tagsort-tags-container span {
  display: inline-block;
  /*background-color: #fff !important;*/
  border: 2px solid #CCC;
  color: #AAA;
  font-size: 12px;
  line-height: 10px;
  padding: 5px 9px;
  margin: 5px;
  cursor: pointer;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.tagsort-tags-container span:hover {
  border: 2px solid #000;
  color: #FFF;
  background-color: #000;
}
